
/* The side navigation menu */
.sidebar {
    margin: 0;
    width: 32rem;
    background-color: rgb(0, 110, 255);
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover {
    background-color: white;
    color: black;
}
/* Style page content */
.main {
    margin-left: 32rem; /* Same as the width of the sidebar */
    padding: 10px;
}

.logo {
    margin: 10px;
    padding: 10px;

    background-color: #292929;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
    }
    .sidebar a { float: left; margin-left: 10%; }
    .main { margin-left: 0rem; }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
        margin-left: inherit;
    }
    .main { margin-left: 0rem; }
}

.well {
    background-color: rgba(255,255,255,0.75);
    color: black;
}

body {
    color: black;
    background-color: white;
    /*
    background-repeat: repeat;
    */
    /*
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/84/Twenty_sided_dice.svg");
    */
    /*
    background-image:
        linear-gradient(
            0deg,
            transparent 24%,
            rgba(255,255,255, .05) 25%, 
            rgba(255,255,255,.05) 26%, 
            transparent 27%, transparent 74%, 
            rgba(255,255,255, .05) 75%,
            rgba(255,255,255,.05) 76%,
            transparent 77%, transparent),
        linear-gradient(
            90deg,
            transparent 24%, 
            rgba(255,255,255, .05) 25%, 
            rgba(255,255,255, 0.05) 26%, 
            transparent 27%, 
            transparent 74%, 
            rgba(255,255,255, 0.05) 75%, 
            rgba(255,255,255, 0.05) 76%, 
            transparent 77%, 
            transparent);
    height: 100%;
    background-size: 50px 50px;
    */
}
