
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 30rem; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 5rem;
    color: #fff;
}

.sidenav a {
    color: white;
}

/* Style page content */
.main {
    margin-left: 30rem; /* Same as the width of the sidebar */
    padding: 10px;
}

.well {
    background-color: rgba(255,255,255,0.75);
    color: black;
}

body {
    background-color: #292929;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/84/Twenty_sided_dice.svg");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    padding-top: 1%;
}
