.container-fluid {
    padding-top: 40px;
    padding-bottom: 40px;
}
.bg-1 {
    background-color: #123041;
    color: rgb(230, 230, 230);
}
.bg-2 {
    background-color: #c3c9ce;
    color: rgb(51, 51, 51);
}