 <!-- Side navigation -->
 <div class="sidebar">
    <div class="well logo">
        <div style="float:left">
        <img style="width: auto; height: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/8/84/Twenty_sided_dice.svg" alt="d20">
        </div>
        <div style="margin-left: 100px; vertical-align: middle; text-align: left;    min-height: 100px;"> <h1> <b> {{ site.title }} </b> </h1> </div>
    </div>
    <div style="margin-left: 15px">
        <h3 style="margin: 0"><a href="{{site.url}}{{site.baseurl}}/"> Home </a></h3>
        <h3 style="margin: 0"><a href="{{ site.url }}{{ site.baseurl }}/character_sheets.html"> Character Sheets </a></h3>
        <h3 style="margin: 0"><a href="{{ site.url }}{{ site.baseurl }}/maps.html"> Maps </a></h3>
    </div>
</div>